html[data-theme='light'] .nav-tabs .nav-link.active, html[data-theme='light'] .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #ffffff;
    border-color: #ced4da #ced4da #2a3042;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 1500px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
.MuiPaper-root {
    color: #ffffff !important;
    background-color: #1f1f1f !important;
}
.MuiStepLabel-label.MuiStepLabel-active {
    color: #f6f6f6 !important;
    background-color: #1f1f1f !important;
}
.MuiStepLabel-label {
    color: #6a7187 !important;
}
.MuiStepIcon-text {
    fill: #fff !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #4fbe33 !important;;
}